Source: nodejs
Section: devel
Priority: extra
Maintainer: Sean O'Dell <sean@celsoft.com>
DM-Upload-Allowed: yes
Build-Depends: python,
 cdbs,
 devscripts,
 debhelper,
 binutils,
 openssl,
 pkg-config,
 curl,
 procps,
 zlib1g-dev
Standards-Version: 3.9.3
Homepage: http://nodejs.org/
Vcs-Browser: http://git.debian.org/?p=collab-maint/nodejs.git
Vcs-Git: git://git.debian.org/git/collab-maint/nodejs.git

Package: nodejs
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends}
Conflicts: node,
 nodejs-dbg,
 nodejs-dev
Replaces: nodejs-dbg,
 nodejs-dev
Provides: nodejs-dbg,
 nodejs-dev
Description: Node.js event-based server-side javascript engine
 Node.js is similar in design to and influenced by systems like
 Ruby's Event Machine or Python's Twisted.
 .
 It takes the event model a bit further - it presents the event
 loop as a language construct instead of as a library.
 .
 Node.js is bundled with several useful libraries to handle server tasks :
 System, Events, Standard I/O, Modules, Timers, Child Processes, POSIX,
 HTTP, Multipart Parsing, TCP, DNS, Assert, Path, URL, Query Strings.
